@tailwind base;
@tailwind components;
@tailwind utilities;

main{
  display: flex;
  flex-direction: column;
}
.noise{
  position: absolute;
  background-image: url('/images/noise.png');
  opacity: 0.3;
}
@font-face {
  font-family: 'YourCustomFont';
  src: local('YourCustomFont'), url('./Roseford.ttf') format('truetype'); /* Corrected the format to 'truetype' */
}
@font-face {
  font-family: 'YourCustomFont1';
  src: local('YourCustomFont1'), url('./Eczar.ttf') format('truetype'); /* Corrected the format to 'truetype' */
}

.custom-font {
  font-family: 'YourCustomFont', sans-serif; /* Wrap font name in quotes and add fallback */
}
.custom-font1 {
  font-family: 'YourCustomFont1', sans-serif; /* Wrap font name in quotes and add fallback */
}
